/* Import Work Sans Font Family From Google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

/* Reset CSS Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root   */
:root {
  --primary-color: #fff4e7;
  --secondary-color: #f9f9f9;
  --tertiary-color: #ff900e;
  --quaternary-color: #131313;
  --quinary-color: #727272;
  --primary-font: "Work Sans", sans-serif;
}

/* Body */

body {
  font-family: var(--primary-font);
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Header  Section Styles */
.header__section {
  background-color: var(--primary-color);
  padding: 50px 0;
}
header {
  padding-bottom: 100px;
}

.header__logo {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 75px;
  color: var(--quaternary-color);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

nav > ul > li {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
  color: #424242;
  cursor: pointer;
}

/* Hero Section Styles */

.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  max-width: 862px;
  text-align: center;
}

.hero__title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--quaternary-color);
  margin-bottom: 1rem;
}

.hero__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--quinary-color);
  text-align: center;
  line-height: 26px;
}

.hero__img {
  width: 1440px;
  height: 700px;
  object-fit: cover;
}

.btn-primary {
  margin: 35px 0;
  padding: 20px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.btn-primary:hover {
  background-color: #ff7e00;
}

/* About Section Styles */

.about__section {
  padding: 84px 0;
  display: flex;
  align-items: center;
}

.team__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature__info {
  margin-left: 74px;
}

.feature__title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--quaternary-color);
  margin-bottom: 1rem;
}

.quick__list {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.of__our {
  font-weight: 700;
  font-size: 45px;
  color: var(--quaternary-color);
}
.feature {
  font-weight: 700;
  font-size: 45px;
  color: var(--tertiary-color);
}
.feature__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--quinary-color);
  line-height: 26px;
}

/* Services Section Styles */

.services__section {
  display: flex;
}

.services__details {
  margin-right: 144px;
}

hr {
  width: 5px;
  height: 100px;
  background-color: var(--tertiary-color);
  border: none;
}

.services__info {
  margin-bottom: 50px;
}

.feature__heading {
  display: flex;
  gap: 20px;
}

.services__title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--quaternary-color);
  margin-bottom: 1rem;
}

.services__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--quinary-color);
  line-height: 26px;
}

.services__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service {
  width: 586px;
  height: 171px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.service__item__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--quaternary-color);
  margin-bottom: 0.4rem;
}

.experience {
  width: 342px;
  height: 200px;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  text-align: center;
  color: #fff;
  position: relative;
  top: -140px;
  left: -80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
}
.experience__text {
  font-weight: 500;
  font-size: 25px;
}

/* Some Facts Section Style */
.some-facts__title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--quaternary-color);
  margin-bottom: 1rem;
}

.some-facts__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--quinary-color);
  line-height: 26px;
}

.some__facts__details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 85px;
}

.some__fact__item {
  width: 240px;
  height: 240px;
  background-color: #fff;
  border: 1px solid var(--tertiary-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.some__fact__item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.some__fact__item__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
}

.some__fact__item__text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #727272;
}

/* Testimonial Section Styles */

.testimonial__text {
  text-align: center;
}
.testimonial__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial__item__img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
/* Our Sponsor Section Styles */

.sponsor__section,
.testimonial__section {
  padding: 84px 0;
  display: flex;
  flex-direction: column;
}

.sponsor__item,
.testimonial__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 30px;
}

.sponsor__title,
.testimonial__title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--quaternary-color);
  margin-bottom: 1rem;
}

.sponsor__text,
.testimonial__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--quinary-color);
  line-height: 26px;
}
.sponsor__details,
.testimonial__details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.sponsor__item__img,
.testimonial__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sponsor__item__img img {
  width: 100%;
  filter: grayscale(100%);
}

footer {
  background-color: var(--primary-color);
}
footer > p {
  text-align: center;
  color: #424242;
  padding: 20px 0;
}

/* Responsive for Mobile Screen */
@media only screen and (max-width: 575.98px) {
  .container {
    max-width: 580px;
    padding: 0 20px;
    text-align: center;
  }

  nav,
  nav > ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  nav > ul > li {
    margin: 0;
  }

  .hero__section {
    padding: 0 20px;
  }
  .hero__img img {
    width: 100%;
  }
  .about__section {
    flex-direction: column-reverse;
  }
  .team__section {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .some-facts__title,
  .some-facts__text {
    text-align: center;
  }
  .some__facts__details,
  .sponsor__section,
  .testimonial__section,
  .sponsor__details,
  .testimonial__details {
    flex-direction: column;
    gap: 20px;
  }
}
